{% extends "layouts/index.html" %}
{% load i18n %}

{% block list_title %}{% translate "Statuses" %}{% endblock %}

{% block create_button %}
{% if request.user.is_authenticated %}
<div class="card-header pb-3">
  <a class="btn btn-primary" href="{% url 'statuses:create' %}">{% translate "Create task" %}</a>
</div>
{% endif %}
{% endblock %}

{% block table_head %}
<th>{% translate "ID" %}</th>
<th>{% translate "Name" %}</th>
<th>{% translate "Creation date" %}</th>
<th></th>
{% endblock %}

{% block table_body %}
{% for status in status_list %}
<tr>
  <td>{{ status.id }}</td>
  <td>{{ status.name }}</td>
  <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
  <td class="text-nowrap text-end">
    {% if request.user.is_authenticated %}
    <a class="btn btn-sm btn-outline-primary ms-1" href="{% url 'statuses:update' status.id %}">
      {% translate "Edit" %}
    </a>
    <a class="btn btn-sm btn-outline-danger ms-1" href="{% url 'statuses:delete' status.id %}">
      {% translate "Delete" %}
    </a>
    {% else %}
    <a class="btn btn-sm btn-outline-danger ms-1 invisible">
      {% translate "Delete" %}
    </a>
    {% endif %}
  </td>
</tr>
{% endfor %}
{% endblock %}
