{% extends "layouts/index.html" %}
{% load i18n %}

{% block list_title %}{% translate "Labels" %}{% endblock %}

{% block create_button %}
{% if request.user.is_authenticated %}
<div class="card-header pb-3">
  <a class="btn btn-primary" href="{% url 'labels:create' %}">{% translate "Create label" %}</a>
</div>
{% endif %}
{% endblock %}

{% block table_head %}
<th>{% translate "ID" %}</th>
<th>{% translate "Name" %}</th>
<th>{% translate "Creation date" %}</th>
<th></th>
{% endblock %}

{% block table_body %}
{% for label in label_list %}
<tr>
  <td>{{ label.id }}</td>
  <td>{{ label.name }}</td>
  <td>{{ label.created_at }}</td>
  <td class="text-nowrap text-end">
    {% if request.user.is_authenticated %}
    <a class="btn btn-sm btn-outline-primary ms-1" href="{% url 'labels:update' label.id %}">
      {% translate "Edit" %}
    </a>
    <a class="btn btn-sm btn-outline-danger ms-1" href="{% url 'labels:delete' label.id %}">
      {% translate "Delete" %}
    </a>
    {% endif %}
  </td>
</tr>
{% endfor %}
{% endblock %}
