{% extends "layouts/index.html" %}
{% load i18n %}

{% block list_title %}{% translate "Tasks" %}{% endblock %}

{% block create_button %}
{% if request.user.is_authenticated %}
<div class="card-header pb-3">
  <a class="btn btn-primary" href="{% url 'tasks:create' %}">{% translate "Create task" %}</a>
</div>
{% endif %}
{% endblock %}

{% block table_head %}
<th>{% translate "ID" %}</th>
<th>{% translate "Name" %}</th>
<th>{% translate "Status" %}</th>
<th>{% translate "Reporter" %}</th>
<th>{% translate "Assignee" %}</th>
<th>{% translate "Creation date" %}</th>
<th></th>
{% endblock %}

{% block table_body %}
{% for task in task_list %}
<tr>
  <td>{{ task.id }}</td>
  <td>{{ task.name }}</td>
  <td>{{ task.status }}</td>
  <td>{{ task.reporter.get_full_name|default:task.reporter.username }}</td>
  <td>
    {% if task.assignee %}
    {{ task.assignee.get_full_name|default:task.assignee.username }}
    {% endif %}
  </td>
  <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
  <td class="text-nowrap text-end">
    {% if request.user.is_authenticated %}
    <a class="btn btn-sm btn-outline-primary ms-1" href="{% url 'tasks:update' task.id %}">
      {% translate "Edit" %}
    </a>
    {% endif %}
    {% if request.user == task.reporter or request.user.is_superuser %}
    <a class="btn btn-sm btn-outline-danger ms-1" href="{% url 'tasks:delete' task.id %}">
      {% translate "Delete" %}
    </a>
    {% else %}
    <a class="btn btn-sm btn-outline-danger ms-1 invisible">
      {% translate "Delete" %}
    </a>
    {% endif %}
  </td>
</tr>
{% endfor %}
{% endblock %}

