{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-light py-3">
      <h1 class="h3 mb-0">{{ task.name }}</h1>
    </div>

    <div class="card-body p-4">
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item px-0">
          <strong>{% translate "Status" %}:</strong> {{ task.status }}
        </li>
        <li class="list-group-item px-0">
          <strong>{% translate "Reporter" %}:</strong> {{ task.reporter.get_full_name }}
        </li>
        <li class="list-group-item px-0">
          <strong>{% translate "Assignee" %}:</strong>
          {% if task.assignee %}
          {{ task.assignee.get_full_name|default:task.assignee.username }}
          {% else %}
          <div class="text-muted">{% translate "Not assigned" %}</div>
          {% endif %}
        </li>
        <li class="list-group-item px-0 border-bottom">
          <strong>{% translate "Creation date" %}:</strong> {{ task.created_at }}
        </li>
      </ul>

      <p class="mb-3"><strong>{% translate "Description" %}:</strong></p>
      <p class="mb-4">{{ task.description|linebreaksbr }}</p>
      <hr class="text-muted">
      <div class="d-flex justify-content-end gap-2 mt-4">
        {% if request.user.is_authenticated %}
        <a href="{% url 'tasks:update' task.id %}" class="btn btn-outline-primary">{% translate "Edit" %}</a>
        {% endif %}
        {% if request.user == task.reporter or request.user.is_superuser %}
        <a href="{% url 'tasks:delete' task.id %}" class="btn btn-outline-danger">{% translate "Delete" %}</a>
        {% endif %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
