{% extends "layouts/index.html" %}
{% load i18n %}

{% block list_title %}{% translate "Users" %}{% endblock %}

{% block table_head %}
<th>{% translate "ID" %}</th>
<th>{% translate "Username" %}</th>
<th>{% translate "Full name" %}</th>
<th>{% translate "Creation date" %}</th>
<th></th>
{% endblock %}

{% block table_body %}
{% for user in user_list %}
<tr>
  <td>{{ user.id }}</td>
  <td>{{ user.username }}</td>
  <td>{{ user.get_full_name }}</td>
  <td>{{ user.date_joined}}</td>
  <td class="text-nowrap text-end">
    {% if request.user == user or request.user.is_superuser %}
    <a class="btn btn-sm btn-outline-primary ms-1" href="{% url 'users:update' user.id %}">
      {% translate "Edit" %}
    </a>
    <a class="btn btn-sm btn-outline-danger ms-1" href="{% url 'users:delete' user.id %}">
      {% translate "Delete" %}
    </a>
    {% else %}
    <a class="btn btn-sm btn-outline-danger ms-1 invisible">
      {% translate "Delete" %}
    </a>
    {% endif %}
  </td>
</tr>
{% endfor %}
{% endblock %}


