<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% translate "Task manager" %}{% endblock %}</title>
  {% bootstrap_css %}
</head>

<body>
<div id="sidebar">
  {% block sidebar %}
  <header class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <nav class="container">

      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-underline">
          <li class="nav-item">
            <a class="nav-link link-body-emphasis {% if request.resolver_match.view_name == 'index' %}active{% endif %}"
               href="{% url 'index' %}">{% translate "Task manager" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-body-emphasis {% if request.resolver_match.view_name == 'users:index' %}active{% endif %}"
               href="{% url 'users:index' %}">{% translate "Users" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-body-emphasis {% if request.resolver_match.view_name == 'statuses:index' %}active{% endif %}"
               href="{% url 'statuses:index' %}">{% translate "Statuses" %}</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link link-body-emphasis fw-bold d-flex align-items-center"
               href="{% url 'users:update' user.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>

              {{ user.username }}
            </a>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary ms-2">
                {% translate "Sign out" %}
              </button>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'users:create' %}">{% translate "Sign up" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary ms-2" href="{% url 'login' %}">{% translate "Sign in" %}</a>
          </li>
          {% endif %}
          <li class="nav-item">
        </ul>
      </div>
    </nav>
  </header>
  {% endblock %}
</div>
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% translate 'Close' %}"></button>
  </div>
  {% endfor %}
  {% endif %}
</div>
<div class="container">
  {% block content %}{% endblock %}
</div>
{% bootstrap_javascript %}
</body>

</html>