{% extends "layouts/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-light py-3">
          <h1 class="h4 mb-0">{% block form_title %}{% endblock %}</h1>
        </div>
        <div class="card-body p-4">
          <p>{% translate "Are you sure you want to delete" %} {{ object }}?</p>
          <form method="post">
            {% csrf_token %}
            <div class="d-grid mt-4">
              <input class="btn btn-danger" type="submit" value="{% translate 'Yes, delete' %}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
