{% extends "layouts/form.html" %}
{% load i18n %}

{% block form_title %}
{% translate "Sign in" %}
{% endblock %}

{% load django_bootstrap5 %}

{% block notifications %}
{% if form.errors %}
<p>{% translate "Your username and password didn't match. Please try again." %}</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>{% translate "Your account doesn't have access to this page. To proceed,
  please login with an account that has access." %}</p>
{% else %}
<p>{% translate "Please login to see this page." %}</p>
{% endif %}
{% endif %}
{% endblock %}

{% block url_name %}
{% url 'login' %}
{% endblock %}

{% block button_text %}
{% translate "Sign in" %}
{% endblock %}
